{% extends 'base.html' %}

{% block content %}

<div class="card p-4 mb-4 shadow">
    <h3>Add Booking</h3>

    <form method="POST" class="row g-3">
        {% csrf_token %}

        <div class="col-md-6">
            <input type="text" name="customer_name" class="form-control" placeholder="Customer Name" required>
        </div>

        <div class="col-md-6">
            <input type="text" name="room" class="form-control" placeholder="Room" required>
        </div>

        <div class="col-md-6">
            <input type="date" name="check_in" class="form-control" required>
        </div>

        <div class="col-md-6">
            <input type="date" name="check_out" class="form-control">
        </div>

        <div class="col-12">
            <button class="btn btn-primary">Add Booking</button>
        </div>
    </form>
</div>

<div class="card p-4 shadow">
    <h3>All Bookings</h3>

    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Room</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for b in bookings %}
            <tr>
                <td>{{ b.customer_name }}</td>
                <td>{{ b.room }}</td>
                <td>{{ b.check_in }}</td>
                <td>{{ b.check_out }}</td>
                <td>
                    <a href="{% url 'update_booking' b.id %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url 'delete_booking' b.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}
{% endif %}
</div>

{% endblock %}